.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
    min-height: 530px;
    border: 1px solid black;
    border-radius: 15px;
  }
  
  .card-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    width: 250px;
  }
  
  .book-img {
    width: 300px;
  }
  
  .book-title {
    font-weight: 900;
    color: rgb(253, 7, 7);
  }
  
  .book-subtitle {
    color: rgb(0, 0, 0);
  }
  
  .book-price,
  .book-title,
  .book-subtitle,
  .book-details {
    margin: 0 20px 10px 20px;
  }
  
  .card-header-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .card-footer-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
  }
  
  .likes-block,
  .views-block {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .like-img:hover,
  .views-img:hover {
    transform: scale(0.8);
    color: var(--link-hover-color);
    cursor: pointer;
  }
  
  .like-img,
  .views-img {
    height: 35px;
    transition: all 0.2s ease-in-out;
  }