
h1.header{
    text-align: center;
}

.container {
  width: 400px;
  height: 40px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgb(185, 0, 255);
  border-radius: 25px;
  padding-left: 10px;
  align-items: center;
}

.container input {
  height: 30px;
  outline: none;
  border: 0;
  color: rgb(36, 128, 8);
  width: 85%;
  font-size: large;
  caret-color: rgb(36, 128, 8);
}

.container button {
  outline: none;
  border: 0;
  background-color: white;
}

.container button :hover {
    cursor: pointer;
  }
  

.container button img {
  height: 30px;
}

.hide{
  z-index: 1;
}
